@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h2 class="index-header">Welcome to liad's Library </h2>
<br />
<div>
    <a asp-page="/AddBookSubsc"><button>Add Book or Subscriber</button></a>
</div>
<br />
<div>
    <a asp-page="/LoanReturnBooks"><button>Loan or Return Book</button></a>
</div>
<br />
<div>
    <a asp-page="/DisplayInformation"><button>Display Information</button></a>
</div>
